.blog-content {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10rem 0;
}
.custom-grid {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: 50% 50%;
}
.post-item {
  margin: 10px;
  img {
    width: 100%;
  }
  hr {
    margin-top: 2rem;
    border-top: 1px solid black;
  }
}
.post-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #9c9da4;
  margin: 10px 0;
}
.post-item-2 {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  hr {
    border-left: 1px solid black;
  }
  .post-img {
    width: 30%;
    img {
      height: 100%;
    }
  }
  .custom-item {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .post-info {
      font-size: 10px;
    }
    h2 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0.2rem 0;
      line-height: 1.2;
    }
    .description {
      font-size: 12px;
    }
    .post-info {
      margin: 0;
      font-size: 12px;
    }
  }
}
.hide-comments {
  display: none;
}
.item-0 {
  grid-row: 1/4;
  .post-info {
    > div {
      display: flex;
      align-items: center;
    }
  }
}
@media screen and (max-width: 1024px) {
  .post-item {
    a > h2 {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .post-item-2 .custom-item .post-info {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .custom-grid {
    display: initial;
  }
  .summary {
    font-size: 12px;
  }
  .post-item hr {
    margin-top: 1rem;
  }
  .post-item-2 {
    margin: 2rem 10px;
  }
}
@media screen and (max-width: 600px) {
  .blog-content {
    display: initial;
  }
  .post-img img {
    width: 100%;
    height: 38vh;
  }
  .post-item {
    margin: 3rem 10px;
  }
  .post-info {
    font-size: 10px;
  }
  .hide-comments {
    display: inline;
    margin-left: 2px;
  }
}
@media screen and (max-width: 330px) {
  .hide-comments {
    margin-left: 0;
  }
}
@media screen and (max-width: 358px) {
  .post-info {
    font-size: 8px;
  }
}
