.contact {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}
.contact-paper-bg {
  background-image: url("/assets/contact/paper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  margin-top: -1.5rem;
}
.inputs-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 1rem;
  border-radius: 5px;
}
.contact-btn {
  font-size: 15px;
  padding: 1rem 5rem;
  background-color: transparent;
  width: 100%;
}
.mc-field-group,
input,
textarea,
#mc-embedded-subscribe {
  font-size: 1rem;
}

#mc_embed_signup {
  margin: 15px;
  width: inherit;
  .mc-field-group {
    width: 100%;
    display: flex;
    justify-content: space-between;

    label {
      font-family: inherit;
      font-weight: 500;
      color: #114278;
    }

    > div {
      width: 60%;
    }

    input {
      border: 0;
      border-radius: 0px;
    }
    textarea {
      width: 95%;
      font-family: inherit;
      border: 0;
      padding: 10px 0;
    }

    input:focus,
    textarea:focus {
      outline: none;
    }
  }

  form {
    margin: 0;
  }
  .foot {
    width: inherit;
    grid-template-columns: auto;
  }
  #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: transparent;
    position: absolute;
    bottom: -1px;
    font-size: 12px;
    right: 0px;
    text-align: right;
  }
  #mc-embedded-subscribe-form input.mce_inline_error {
    border: none;
  }
}
.helper_text {
  background-color: transparent;
}
.contact-tabs {
  margin-bottom: 1.8rem;
}
#mc-embedded-subscribe {
  margin: 1rem 0 1rem auto;
}
.error-msg-2 {
  height: 0.8rem;
}
@media screen and (min-width: 1440px) {
  .contact {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 976px) {
  .contact {
    h2 {
      font-size: 1.25rem;
    }
    h4 {
      font-size: 1rem;
    }
  }
  .mc-field-group,
  input,
  textarea,
  #mc-embedded-subscribe {
    font-size: 1rem;
  }
  #mc_embed_signup .mc-field-group {
    width: -webkit-fill-available;
  }

  #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    margin-bottom: 1rem;
  }
  input {
    height: 2rem;
  }
  .error-msg,
  .error-msg-2 {
    height: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  #mc_embed_signup {
    .mc-field-group {
      flex-direction: column;
      gap: 0.5rem;

      > div {
        width: 100%;
      }
    }
    #mc-embedded-subscribe-form div.mce_inline_error {
      font-size: 10px;
    }
    .pencil-icon{
      top: 12rem;
    }
    #mc-embedded-subscribe {
      margin: 1rem auto;
    }
  }
  .mc-field-group,
  input,
  textarea,
  #mc-embedded-subscribe {
    font-size: 12px;
  }
  .contact {
    h2 {
      font-size: 1rem;
    }
    h4 {
      font-size: 0.8rem;
    }
    textarea {
      width: 90%;
    }
  }
}
