#introduction {
  color: white;
  text-align: center;
  font-size: 45px;
  padding-top: 5%;
  padding-bottom: 2rem;
  max-width: 80%;
  margin: auto;
  font-weight: bold;
  font-family: gotham-book;
}
.introduction {
  margin-top: -3rem;
  color: white;
  font-size: 18px;
  background-image: url('/assets/home/bg.png');
  background-size: cover;
  padding-bottom: 10%;
  font-family: gotham-light;

  > div {
    max-width: 80%;
    margin: auto;
  }
  .home-highlight {
    padding: 6rem;
    background-image: url('/assets/home/paper bg dark.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.home-content {
  z-index: 2;
  margin-top: -4rem;
}
#problem-definition {
  margin-top: 3rem;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-family: gotham-book;
}
.problem-definition {
  font-size: 18px;
  background-image: url('/assets/home/bg2.jpg');
  background-size: contain;
  padding-bottom: 3rem;
  font-family: gotham-light;

  > div {
    max-width: 80%;
    margin: auto;
  }

  strong {
    color: $secondary-color;
  }
  img {
    margin-left: 5rem;
    width: 90%;
  }
}
.img-caption {
  margin: 1rem 5rem 2rem;
  hr {
    border-top: 1px solid black;
  }
  p {
    font-weight: 600;
  }
}
.highlight {
  margin: 1rem auto;
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  margin: 2rem auto;
}
.paper-bg {
  padding: 2rem 6rem;
  background-image: url('/assets/home/paper bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  strong {
    color: $secondary-color;
  }
}
.content-img {
  width: 100%;
}
.post-content {
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
}
.unordered-list {
  list-style: lower-roman;
}
@media screen and (min-width: 1440px) {
  .introduction {
    div {
      max-width: 1440px;
    }
    padding-bottom: 5%;
  }
  #introduction {
    padding-top: 5%;
  }
  .problem-definition {
    div {
      max-width: 1440px;
    }
  }
}
@media screen and (max-width: 1439px) {
  #introduction {
    padding-top: 10%;
  }
}
@media screen and (min-width: 1101px) {
  .introduction {
    background-size: contain;
  }
}
@media screen and (max-width: 1101px) {
  #introduction {
    padding-top: 5%;
  }
  .introduction {
    padding: 2rem;
    text-align: justify;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 25%;

    div {
      background-image: none;
      height: fit-content;
      padding: 0;
    }

    .home-highlight {
      background-image: none;
      background-color: $main-color-dark;
      padding: 2rem;
    }
  }
  .problem-definition {
    text-align: justify;
    img {
      margin: 0;
      width: 100%;
    }
  }
  .img-caption {
    margin: 1rem 0 2rem;
  }
}
@media screen and (max-width: 769px) {
  .paper-bg {
    padding: 2rem 3rem;
  }
  .home-content {
    margin-top: -5rem;
  }
}
@media screen and (max-width: 426px) {
  #introduction {
    font-size: 24px;
    margin-top: 20%;
  }
  .introduction {
    padding-bottom: 40%;
  }
  .home-content {
    margin-top: -7rem;
  }
  .problem-definition,
  .introduction {
    font-size: 16px;
  }
  .post-content {
    h2 {
      font-size: 22px;
      text-align: center;
    }
    h3 {
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 376px) {
  #introduction {
    margin-top: 0;
  }
  .introduction {
    padding-bottom: 10%;
    background-image: none;
    background-color: $main-color;
  }
  .home-content {
    margin-top: -2rem;
  }
}
