<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css" />
<footer class="site-footer h-card footer-bg">
    <data class="u-url" href="{{ '/' | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-col-wrapper">
            <img alt="Graphlet AI" src="{{site.baseurl}}/assets/header/logo.png" class="footer-logo" />
        </div>
        <div class="footer-col-wrapper footer-nav-list">
            <div class="footer-nav-item"><a href="/">Home</a></div>
            <div class="footer-nav-item"><a href="/">About</a></div>
            <div class="footer-nav-item"><a href="https://blog.graphlet.ai">Blog</a></div>
            <div class="footer-nav-item"><a href="mailto:rjurney@graphlet.ai">Contact</a></div>
        </div>

        <div class="social-links">
            <ul class="custom-list">
                <li>
                    <span class="phone-icon"></span>
                    <a href="mailto:rjurney@graphlet.ai">{{site.phone}}</a>
                </li>
                <li>
                    <span class="email-icon-light"></span>
                    <a href="mailto:rjurney@graphlet.ai">{{site.email}}</a>
                </li>
            </ul>
        </div>

        <hr style="margin-top: 3rem; border-top: 1px solid lightgrey" />

        <div class="footer-col-wrapper">
            <div class="footer-col">@ 2022 Graphlet. All rights reserved</div>
            <div class="footer-col">
                <ul class="custom-list">
                    <li><a href="/">Terms of Use</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>