<header class="site-header home-header-bg">
  <div class="wrapper" style="text-align: center">
    {%- assign default_paths = site.pages | map: "path" -%} {%- assign
    page_paths = site.header_pages | default: default_paths -%} {%- assign
    titles_size = site.pages | map: 'title' | join: '' | size -%}

    <nav class="site-nav">
      <div class="trigger hide-link">
        <a class="page-link" href="/">Home</a>
        <a class="page-link" href="/about">About</a>
        <a class="page-link" href="/blog">Blog</a>
        <img src="{{site.baseurl}}/assets/Branding/Graphlet AI.svg" />
        <a class="page-link" href="/contact">Contact</a>
        <a class="page-link" href="/getting-started">Getting started</a>
        <a class="page-link github-link" href="/github">GitHub</a>
      </div>
      <div class="menu">
        <a class="page-link" href="/">Home</a>
        <a class="page-link" href="/about">About</a>
        <a class="page-link" href="/blog">Blog</a>
        <a class="page-link" href="/contact">Contact</a>
        <a class="page-link" href="/getting-started.md">Getting started</a>
        <a class="page-link github-link" href="/github">GitHub</a>
      </div>
    </nav>

    <h2 class="home-heading">{{page.head | upcase}}</h2>
    <p class="home-subheading">{{page.subtitle | upcase}}</p>
    <p class="home-subheading-2">{{page.description}}</p>
    <div class="custom-btn">Getting started</div>
  </div>
</header>
