.site-header {
  border: none;
}
.home-header-bg {
  background-image: url('/assets/home/papers.jpg');
  background-size: cover;
}
.home-header-tagline {
  background-image: url('/assets/header/graphlet tagline.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
}
.github-link {
  color: $main-color !important;
  font-weight: 700;
}
.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
  img {
    width: 50%;
  }
}
.home-heading {
  font-size: 4.7rem;
  font-family: gotham-book;
  margin: 0;
}
.home-subheading {
  font-size: 32px;
  font-family: gotham-book;
  margin: 0;
}
.home-subheading-2 {
  font-size: 21px;
  font-family: gotham-light;
}
.menu {
  display: none;
}
.page-link {
  min-width: fit-content;
}
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  float: none;
}
@media (max-width: 769px) {
  .home-heading {
    font-size: 4rem;
  }
  .home-subheading {
    font-size: 27px;
  }
  .home-subheading-2 {
    font-size: 17px;
  }
}
@media screen and (max-width: 1024px) {
  .site-nav {
    position: initial;
    background-color: transparent;
    border: 0;
    text-align: center;
    width: 100%;
  }
  .trigger {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .home-heading {
    font-size: 2.75rem;
  }
  .home-subheading {
    font-size: 20px;
  }
  .home-subheading-2 {
    font-size: 13px;
  }
  .custom-btn {
    font-size: 15px;
  }
  .hide-link > a {
    display: none !important;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 338px) {
  .menu {
    font-size: 10px;
  }
  .home-heading {
    font-size: 2rem;
  }
  .home-subheading {
    font-size: 13px;
  }
  .home-subheading-2 {
    font-size: 9px;
  }
}
