@import './variables.scss';
@import './icons.scss';
@import './fonts.scss';

body {
  font-family: gotham-book;
  line-height: 1.2
}
.custom-container {
  margin: 0 auto;
  max-width: 1200px;
}
.page-content {
  padding: 5rem 0;
  margin-top: -3rem;
}
.custom-btn {
  background-image: url('/assets/header/btn.png');
  margin: 4rem auto 4rem;
  padding: 1rem 2rem;
  border: 0px;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: fit-content;
}
.custom-btn:hover {
  cursor: pointer;
}
.justify {
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 426px) {
  .site-bg {
    margin-top: -3rem;
  }
}
