@font-face {
  font-family: gotham-book;
  src: url("/assets/Fonts/GothamBook.ttf");
}

@font-face {
  font-family: gotham-light;
  src: url("/assets/Fonts/GothamLight.ttf");
}

@font-face {
  font-family: gotham-medium;
  src: url("/assets/Fonts/GothamMedium.ttf");
}

@font-face {
  font-family: sourcecodepro-regular;
  src: url("/assets/Fonts/SourceCodePro-Regular.ttf");
}
