@font-face {
  font-family: sourcecodepro-black;
  src: url("/assets/Fonts/SourceCodePro-Black.ttf");
}

@font-face {
  font-family: sourcecodepro-black-italic;
  src: url("/assets/Fonts/SourceCodePro-BlackItalic.ttf");
}

@font-face {
  font-family: sourcecodepro-bold;
  src: url("/assets/Fonts/SourceCodePro-Bold.ttf");
}

@font-face {
  font-family: sourcecodepro-bold-italic;
  src: url("/assets/Fonts/SourceCodePro-BoldItalic.ttf");
}

@font-face {
  font-family: sourcecodepro-extra-bold;
  src: url("/assets/Fonts/SourceCodePro-ExtraBold.ttf");
}

@font-face {
  font-family: sourcecodepro-extra-bold-italic;
  src: url("/assets/Fonts/SourceCodePro-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: sourcecodepro-extra-light;
  src: url("/assets/Fonts/SourceCodePro-ExtraLight.ttf");
}

@font-face {
  font-family: sourcecodepro-extra-light-italic;
  src: url("/assets/Fonts/SourceCodePro-ExtraLightItalic.ttf");
}

@font-face {
  font-family: sourcecodepro-italic-variablefontwght;
  src: url("/assets/Fonts/SourceCodePro-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: sourcecodepro-italic;
  src: url("/assets/Fonts/SourceCodePro-Italic.ttf");
}

@font-face {
  font-family: sourcecodepro-light;
  src: url("/assets/Fonts/SourceCodePro-Light.ttf");
}

@font-face {
  font-family: sourcecodepro-light-italic;
  src: url("/assets/Fonts/SourceCodePro-LightItalic.ttf");
}

@font-face {
  font-family: sourcecodepro-medium;
  src: url("/assets/Fonts/SourceCodePro-Medium.ttf");
}

@font-face {
  font-family: sourcecodepro-medium-italic;
  src: url("/assets/Fonts/SourceCodePro-MediumItalic.ttf");
}

@font-face {
  font-family: sourcecodepro-regular;
  src: url("/assets/Fonts/SourceCodePro-Regular.ttf");
}

@font-face {
  font-family: sourcecodepro-semi-bold;
  src: url("/assets/Fonts/SourceCodePro-SemiBold.ttf");
}

@font-face {
  font-family: sourcecodepro-semi-bold-italic;
  src: url("/assets/Fonts/SourceCodePro-SemiBoldItalic.ttf");
}

@font-face {
  font-family: sourcecodepro-variablefontwght;
  src: url("/assets/Fonts/SourceCodePro-VariableFont_wght.ttf");
}
